<div *ngFor="let postagem of postagens">
    <app-post (removerItemEvento)="removerItemDaLista($event)" [id]="postagem.id" [titulo]="postagem.titulo"
        [subtitulo]="postagem.subtitulo" [texto]="postagem.texto" [curtidas]="postagem.curtidas"
        [data_insercao]="postagem.data_insercao" [abreviar]="true"></app-post>
</div>

<div *ngIf="!carregando && postagens.length === 0">
    <p>Nenhuma postagem inserida até o momento. Clique no botão inferior direito para começar!</p>
</div>

<button id="adicionar" mat-fab color="primary" aria-label="Adicionar postagem" [routerLink]="['criar']">
    <mat-icon>edit</mat-icon>
</button>

<div class="spinner-container">
    <mat-spinner role="progressbar" aria-label="progressbar" [style.display]="carregando ? 'block' : 'none'"></mat-spinner>
</div>