<mat-card class="card" [ngClass]="{'destaque': destaque}">
    <mat-card-header [routerLink]="['/post', id]">
        <mat-card-title-group>
            <mat-card-title [routerLink]="['/post', id]">{{ titulo }}</mat-card-title>
            <mat-card-subtitle [routerLink]="['/post', id]">{{ subtitulo }}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content [routerLink]="['/post', id]"
        [innerHTML]="(abreviar && texto && texto!!.length > 150) ? (texto | slice:0:150) + '...' : (texto) | postagem">
    </mat-card-content>
    <mat-card-actions *ngIf="sessao$ | async as sessao">
        <button mat-icon-button aria-label="Reply" [routerLink]="['/responder', id]">
            <mat-icon>reply</mat-icon>
        </button>
        <button mat-icon-button aria-label="Like" (click)="curtir(id)">
            <mat-icon>favorite</mat-icon>
        </button>
        <span>{{ curtidas || 0 }}</span>
        <button mat-icon-button aria-label="Edit" [routerLink]="['/editar', id]">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Delete" (click)="excluirPost(id)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>