<form [formGroup]="buscaForm" (ngSubmit)="buscarTermo()">
    <p>
        <mat-form-field class="example-full-width">
            <mat-label>Busca</mat-label>
            <input matInput formControlName="busca" placeholder="Digite aqui o que deseja buscar..." value="">
        </mat-form-field>
        <br>
        <button mat-flat-button color="primary" type="submit" [disabled]="!buscaForm.valid">Buscar</button>
    </p>
</form>

<div *ngFor="let postagem of postagens">
    <app-post [id]="postagem.id" [titulo]="postagem.titulo" [subtitulo]="postagem.subtitulo" [texto]="postagem.texto"
        [abreviar]="true"></app-post>
</div>
<div *ngIf="semPostagens">
    <p>Nenhuma postagem encontrada.</p>
</div>